<!DOCTYPE kpartgui>
<kpartplugin name="ktexteditor_keyrecorder" library="ktexteditor_keyrecorder" version="2">
<MenuBar>
 <Menu name="tools"><Text>&amp;Tools</Text>
    <separator group="tools_operations" />
    <Action name="tools_keyrecorder_recorder" group="tools_operations"/>
    <Action name="tools_keyrecorder_replay" group="tools_operations"/>
 </Menu>
</MenuBar>
</kpartplugin>
